<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pielen_CEM</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
                <! *********+HEADER************** >
    <header>
        <div  class="header" >
            <img src="../img/header.png" alt="" />
        </div>           
    </header>
             
                <!  ***********NAVIGATION************** >
                <div  class="navigation" style="background-image: url(../img/navigation-background.png);background-repeat:no-repeat;">
        <nav>

        </nav>
                </div>
                
                <! ************SLIDER******************>
    <div >
       

    </div>
                
                <! ************CONTENT****************>
                
    <div class="content">


    </div>
                
</body>
</html>

<! style="background-image: url(../images/op5x.gif);background-repeat:no-repeat;">